@model TaskItem

@{
}

<h1>Search for tasks</h1>

<p>Search for specific task</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="post">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="Search">Search</button>
            </div>
        </form>
    </div>
</div>